.imageContainer{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50px;
    left: 150px;
    cursor:pointer;
    align-items: center;
    user-select: none;
    z-index: 2;
    white-space: pre-line;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;  
    overflow: hidden;
    border: none;
}
.block{
    width: 100%;
    height: 100%;
}
.resizable {
    position: relative;
}
.resizableImg{
    width: 100%;
    height: 100%;
}
.uniqKey{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 3px;
    color: white;
    font-size: 10px;
}